<div class="modal-dialog">
    <div class="modal-content">
        <form method="POST" class="form-inline">
            {% csrf_token %}
            <div class="card border-left-danger shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">¿inactivar <b>{{obj.descripcion}}</b>?</div>
                            <button type="button" class="btn btn-danger" id ="btn_inactivar"><i class="fas fa-question-circle"></i>Si, Eliminar</button>                    
                            <button type="button" onclick="return cerrar_modal()" class="btn btn-success"><span class="fa fa-undo">Cancelar</button>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-question-circle fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


<script>
$(document).ready(function(){
    var token = $('input[name=csrfmiddlewaretoken]').val();

    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                xhr.setRequestHeader("X-CSRFToken", token);
            }
        }
    });

    $('#btn_inactivar').click(function(e){
        e.preventDefault();        

        var id = "{{ obj.id }}";
        var template = "{% url 'cmp:proveedor_inactivar' obj.id %}";            
        var data = {"id": id };
        data = JSON.stringify(data)

        $.ajax({
            type: 'POST',
            url: template,
            data: data,
            beforeSend: function(xhr,settings){
                $.ajaxSettings.beforeSend(xhr, settings);
            },            
            success: function(response){                
                cerrar_modal();                
                var tipo = (response.startsWith('Proveedor no existe') ? 'red':'green');
                console.log(tipo);
                mensaje(response, tipo);
            },
            error: function(jqXHR, textStatus, errorThrow){                
                cerrar_modal();
                mensaje(errorThrow, "red")
            }
        })
    })
})
</script>